<% if current_user && !current_page?('/users/'+current_user.id.to_s)%>
  <a class="thredded--post--reply" href=""><%= t('thredded.nav.reply_post') %></a>
<% end %>

<% if post.can_update? %>
  <%= link_to t('thredded.posts.edit'), post.edit_path, class: 'thredded--post--edit' %>
<% end %>

<% if post.can_destroy? %>
  <%= link_to t('thredded.posts.delete'), post.destroy_path,
              method: :delete,
              class:  'thredded--post--delete',
              data:   { confirm: I18n.t('thredded.posts.delete_confirm') }
  %>
<% end %>
