.thredded--flash-message {
  border: none;
}

.thredded--post {
  margin-bottom: 2rem;  
}

.post {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
}

.app-form-hint {
  color: rgba(0,0,0,0.54);
}

.thredded--post--edit,
.thredded--post--delete {
  margin-left: 0.5rem;
}

.thredded--post--reply {
  font-size: $thredded-font-size-small;
  @extend %thredded--link;
  @media print {
    display: none;
  }
}

tr.no-border > td {
  border-bottom: 0px;
}